* {
  margin: 0;
  padding: 0;
}

/**********************************
        BaseLayout Styling
**********************************/

.BaseLayout {

}

.nav {
  background-color: #c53d13;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.nav a {
  color: white;
}

.nav .selected {
  color: lightgray;
}

.selected {
  /*background-color: white;*/
  color: white;
  text-decoration: none;
}

/*.selected {
  color: #c53d13;
}*/
/**********************************
        App Component Styling
**********************************/

.App {
  text-align: center;
}

/**********************************
    GameList Component Styling
**********************************/
